@import "../../partials/utilities/variables";

// BUTTONS

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

@each $button, $color in $buttons {
  .#{$button} {
    background-color: $color;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
      background-color: lighten($color, 10%);
      color: $color-text;
    }
  }
}
