// IMAGES

.img-frame,
.img-logo,
.img-avatar {
  @include center($max-width: 100%, $margin-top: 10px, $disp: block);
  max-width: 100%;
}

.img-avatar {
  max-height: 100%;
}

.img-frame {
  padding: 13px;
  border: 1px solid $light-gray;
}

.img-logo,
.img-avatar {
  @include center();
}
