// CENTERS CONTAINERS
@mixin center($max-width: null, $margin-top: null, $disp: null) {
  max-width: $max-width;
  margin-top: $margin-top;
  display: $disp;
  margin-left: auto;
  margin-right: auto;
}

// FLEXBOX
@mixin flexy($disp: flex, $dir: null, $wrap: null, $basis: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  flex-basis: $basis;
  justify-content: $just;
}

// ADDS BACKGROUND COLOR
@mixin themes($map) {
  @each $theme, $color in $map {
    &#{$theme} {
      background-color: $color;
    }
  }
}
