/* ============================================= */
/*              Color Variables                  */
/* ============================================= */

$white: #fff;
$light-gray: #ccc;

$color-primary: #58e1c1; // medium turquoise
$color-secondary: #51ddfc; // sky blue
$color-text: #777; // gray

$themes: ('1': #927bc1, // ube
  '2': #fd7856, // coral
  '3': #deb2ee, // mauve
  '4': #7ee6fd, // electric blue
  '5': #88d9a0, // eton blue
  '6': #4da2bb, // maximum blue
  '7': #ec9fa3, // mauvelous
  '8': #fd9f85, // vivid tangerine
  '9': #e4757a, // candy pink
  '10': #63cc82, // emerald
  '11': $color-secondary, // sky blue
  '12': #80e8d1, // middle blue green
);

/* ============================================= */
/*              Breakpoints                      */
/* ============================================= */

$bp-m : 768px; // tablet